<header class="header">
  <h1 class="header__title">
    Rock ~ Paper ~ Scissors ~ Lizard ~
    Spock
  </h1>
  <div class="header__rules">
    <img
      class="rules__pic"
      src="./assets/images/game.svg"
      alt="game rules"
    />
    <ul class="rules__text">
      RULES
      <include
        src="./rules.html"
        text="Paper covers Rock"
      ></include>
      <include
        src="./rules.html"
        text="Scissors cuts Paper"
      ></include>
      <include
        src="./rules.html"
        text="Rock crushes Lizard"
      ></include>
      <include
        src="./rules.html"
        text="Lizard poisons Spock"
      ></include>
      <include
        src="./rules.html"
        text="Spock smashes Scissors"
      ></include>
      <include
        src="./rules.html"
        text="Scissors decapitates Lizard"
      ></include>
      <include
        src="./rules.html"
        text="Lizard eats Paper"
      ></include>
      <include
        src="./rules.html"
        text="Paper disproves Spock"
      ></include>
      <include
        src="./rules.html"
        text="Spock vaporizes Rock"
      ></include>
      <include
        src="./rules.html"
        text="ock crushes Scissors"
      ></include>
      <a
        class="link"
        href="https://www.youtube.com/watch?v=405Nh2H4Ucg"
        target="”_blank”"
        >(Rules by Sheldon Cooper)</a
      >
    </ul>
  </div>
</header>
